@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.myzoom
{
    transition: transform .4s;
}

.myzoom:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.carousel.carousel-fade .carousel-item 
{
    display: block;
    opacity: 0;
    transition: opacity ease-out .3s;
}

.carousel.carousel-fade .carousel-item.active 
{
    opacity: 1 !important;
}

.caption1
{
    top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.caption2
{
    bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.caption3
{
    bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h1
{
    font-family: 'Zen Dots', cursive;
    font-size: 65px;
}

.carousel-caption h3
{
    font-family: 'Zen Dots', cursive;
    font-size: 65px;
}

.carousel-caption p
{
    font-size: 20px;
    top: 2rem;
}

/*------------------------------------- CAPTION MEDIA QUERIES (Optimized for mobile devices) ----------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    .caption1
    {
        top: 20px;
        padding: 50px 0;
    }

    .caption2
    {
        bottom: 0px;
        padding: 50px 0;
    }

    .caption3
    {
        bottom: 40px;
        padding: 50px 0;
    }

    .carousel-caption h3
    {
        font-family: 'Zen Dots', cursive;
        font-size: 30px;
    }

    .carousel-caption h1
    {
        font-family: 'Zen Dots', cursive;
        font-size: 30px;
    }

    .carousel-caption p
    {
        font-size: 12px;
        top: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
    .caption1
    {
        top: 30px;
        padding: 50px 0;
    }

    .caption2
    {
        bottom: 0px;
        padding: 50px 0;
    }

    .caption3
    {
        bottom: 0px;
        padding: 50px 0;
    }

    .carousel-caption h3
    {
        font-family: 'Zen Dots', cursive;
        font-size: 25px;
    }

    .carousel-caption h1
    {
        font-family: 'Zen Dots', cursive;
        font-size: 25px;
    }

    .carousel-caption p
    {
        font-size: 12px;
        top: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .caption1
    {
        top: 0px;
        padding: 50px 0;
    }

    .caption2
    {
        bottom: 0px;
        padding: 50px 0;
    }

    .caption3
    {
        bottom: 0px;
        padding: 50px 0;
    }

    .carousel-caption h3
    {
        font-family: 'Zen Dots', cursive;
        font-size: 30px;
    }

    .carousel-caption h1
    {
        font-family: 'Zen Dots', cursive;
        font-size: 30px;
    }

    .carousel-caption p
    {
        font-size: 13px;
        top: 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .caption1
    {
        top: 0px;
        padding: 50px 0;
    }
    
    .caption2
    {
        bottom: 0px;
        padding: 50px 0;
    }
    
    .caption3
    {
        bottom: 0px;
        padding: 50px 0;
    }
    
    .carousel-caption h3
    {
        font-family: 'Zen Dots', cursive;
        font-size: 40px;
    }

    .carousel-caption h1
    {
        font-family: 'Zen Dots', cursive;
        font-size: 40px;
    }
    
    .carousel-caption p
    {
        font-size: 20px;
        top: 2rem;
    }
}

.adv_clm{
    margin-top: 60px;
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .caption1
    {
        top: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .caption2
    {
        bottom: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .caption3
    {
        bottom: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .carousel-caption h3
    {
        font-family: 'Zen Dots', cursive;
        font-size: 65px;
    }

    .carousel-caption h1
    {
        font-family: 'Zen Dots', cursive;
        font-size: 65px;
    }
    
    .carousel-caption p
    {
        font-size: 20px;
        top: 2rem;
    }
}

/*----------------------------------------- CAROUSEL MEDIA QUERIES (Optimized for mobile devices) --------------------------------------------------*/

@media (max-width: 600px) {
    
    .mine {
        object-fit: cover;
        object-position: 27% 0;
        height: 500px;
    }
  
    .mine1 {
        object-fit: cover;
        object-position: 13% 0;
        height: 500px;
    }
  
    .mine2 {
        object-fit: cover;
        object-position: 70% 0;
        height: 500px;
    }

    .adv_clm{
        margin-top: 00px;
      }
      
    
  }


  #ad_2, #ad_3{
    display: none;
}

.form-check:hover input {
    background-color: #ccc;
}

.form-check input:checked {
    background-color: indigo;
}


.pricing-new .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing-new hr {
    margin: 1.5rem 0;
  }
  
  .pricing-new .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing-new .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing-new .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing-new ul li {
    margin-bottom: 1rem;
  }
  
  .pricing-new .text-muted {
    opacity: 0.7;
  }
  
  .pricing-new .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing-new .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing-new .card:hover .btn {
      opacity: 1;
    }
  }

 

